*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: __Poppins_077632, sans-serif;
}

body{
    background-color: #000000;
    overflow-x: hidden;
}

.main-nav{
    width: 100%;
    height: 40px;
    background-color: #000000;
    display: flex;
    margin-top: 10px;
}

.nav-cont{
    width: 100%;
    height: 40px;
    background-color: #000000;
    display: flex;
    padding-top: 10xp;
}

.nav-logo{
    margin-left: 40px;
    flex-shrink: 8;
}

#down{
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-bottom: -4px;
}

.nav-list{
    display: flex;
    /* justify-content: end; */
    margin-left: 20px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
}
.nav-list ul li{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    font-family: __Poppins_077632, sans-serif;
    font-weight: bold
}

.nav-list ul li a:hover{
    color: #EC00bf;
    transition: 0.3s;
}

.nav-btn{
    width: 180px;
    height: 48px;
    margin-bottom: 5px;
    align-self: center;
    align-content: center;
    background-color: #EC00bf;
    font-weight: 600;
    color: #ffffff;
    border-radius: 13px;
    text-align: center;
}

.nav-btn:hover{
    background-color: #a0448d;
    transition: 0.3s;
}

  /* navbar ended here */

  /* section 1 starts from here */

.section1{
    display: flex;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2, minmax(300px, 100%));
    /* gap: 63px; */
    /* margin: 40px 40px 0px 40px; */
}

#sec1img{
    width: 45vw;
    height: 27.87vh;
    margin-top: 88px;
    border-radius: 13px;
    /* margin-left: 8%; */
    flex-shrink: 3;
}

.sec1img{
    width: 50vw;
    height: 100vh;
    flex-shrink: 3;
}

.sec1part1{
    width: 50vw;
    height: 100vh;
    margin-left: 70px;
    
}

 #enter {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 70px;
    color: white;    
}

#meta{
    text-transform: uppercase;
    font-size: 70px;
    color: #EC00bf;
    margin-top: -10px;
}

#sec1para{
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
}

.sec1btn{
    width: 224px;
    height: 44px;
    background-color: #171717;
    color: #EC00bf;
    border-radius: 13px;
    font-weight: 400;
    text-align: center;
    border: 2px solid white;
    margin-bottom: 156px;
}

.sec1btn:hover{
    background-color: #EC00bf;
    color: #ffffff;
    transition: 0.3s;
}

.sec1btn2{
    display: flex;
    width: 150px;
    height: 40px;
    border: 3px solid #171717;
    border-radius: 25px;
    background-color: #000000;
    color: #EC00bf;
    margin-bottom: 110px;
    justify-content: space-around;

}

.radio{
    padding: 10px;
    /* margin-left: 10px; */
    border: 1.5px solid #EC00bf;
    width: 18px;
    height: 18px;
    /* color: #EC00bf; */
    background-color: #171717;
    margin: auto;
    border-radius: 50%;
    
}

.radio:hover{
    background-color: #EC00bf;
    transition: 0.3s;
}

#rad1{
    background-color: #EC00bf;
}

 /* section 1 ends here */

/* section 2 starts from here */

.sec2{
    display: flex;
    /* flex-wrap: wrap; */
}

.human{
    width: 485px;
    height: 485px;
    margin-left: 96px;
}

.sec2cont{
    width: 195px;
    height: 336px;
}

.sec2h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 65px;
}

.sec2para1{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 35px;
    font-weight: 400;
    line-height: 24px;
}

.laptop{
    width: 480px;
    height: 332px;
}

.metaspace{
    width: 480px;
    height: 332px;
    border-radius: 13px;
    margin-top: 65px;
}

/* scetion 2 ends here */

/* section 3 starts from here */

.sec3{
    width: 1264px;
    height: 362px;
}

video{
    width: 100vw;
    height: 100%;
    border-radius: 13px;
}

/* section 3 ends here  */

/* section 4 starts from here */

.sec4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 346px 346px;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0px 40px 40px 40px;
}

.sec4div{
    border-radius: 13px;
    border: 3px solid #262626;
}

#sec4div1 {
    background-image: url(./sec4div1img.jpeg);
    background-size: cover;
    background-position: center;

}

#sec4div2 {
    background-image: url(./sec4div2img.jpeg);
    background-size: cover;
    background-position: center;
}

#sec4div3 {
    background-image: url(./sec4div3img.jpeg);
    background-size: cover;
    background-position: center;
}

#sec4div4 {
    background-image: url(./sec4div4img.jpeg);
    background-size: cover;
    background-position: center;
}

.sec4cont{
    margin: 50px auto 0 auto;
    /* width: 50%; */
    /* height: 25%; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    transition:  0.7s ease;
}

.sec4div:hover{
    transform: scale(1.01);
    transition: 0.3s ease;
}

.sec4logo1{
    width: 28px;
    height: 28px;
}

.sec4div h2{
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    /* margin-top: 20px; */
}

.sec4div p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.sec4btn{
    width: 140px;
    height: 44px;
    border-radius: 13px;
    border: 2px solid #EC00bf;
    background-color: #171717;
    color: #EC00bf;
    font-weight: 600;
    font-size: 14px;
    /* margin: 125px auto 0px 230px; */
    margin: 125px 40% 0px 40%;
}

.sec4btn:hover{
    background-color: #EC00bf;
    color: #ffffff;
    transition: 0.3s;
    font-weight: 600;
}

/* section 4 completes here */

/* footer starts from here */

footer{
    background-color: #171717;
    margin-top: 40px;
    width: 100vw;
    height: 399px;
}

.footercontent{
    margin: 48px 20px;
    top: 80px;
    position: relative;
}

.footerlogo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 60px;
    justify-content: center;
    gap: 15px;
    /* align-items: center; */

}

.footerimg{
    width: 40px;
    height: 40px;
    padding-right: 10px;
    
    align-items: center;
    /* background-color: #EC00bf; */
}

.footercontent p{
    margin-top: 80px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.terms{
    /* margin: 20px 0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: -50px;
}

.terms p{
    font-size: 16px;
    color: #EC00bf;
    font-weight: 600;
    /* padding: 10px; */
}

.footpara1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -40px auto 20px 0px;
    position: relative;
}

.footpara1 p{
    font-size: 11px;
    font-weight: 400px;
    color: white;
}

.footpara2{
    width: 604px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-left: 320px;
}

.footpara2 p{
    color: white;
    font-size: 11px;
    text-align: center;
    
}

.footpara1 span {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: white;
}

#icon{
    display: none;
    width: 40px;
    height: 40px;
}

@media (max-width:769px) {

    .nav-list{
        display: none;
    }

     #icon{
        display: visible;
        width: 40px;
        height: 40px;
        background-color: red;
    }

    .section1{
        flex-wrap: wrap;
    }

    .sec1img{
        width: 100%;
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #sec1img {
        width: 100%;
        height: 150px;
    }

    .sec1content{
        margin: 0;
        width: 100vw;
        height: 80vh;
    }

    #enter{
        font-size: 50px;
        text-align: center;
    }
    
     #meta{
        font-size: 50px;
        text-align: center;
    }

    #sec1para{
        text-align: center;
        font-size: 16px;
        margin: auto;
    }

    /* .sec1btn2{
        /* margin: 20px auto 50% 156px; */
    

    .sec2{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 20px;
    }
    
    .sec2cont{
        width: 250px;
        height: 336px;
        margin: 0px 20px;
    } 

    footer{
        width: 100%;
        height: auto;
    }

    .footpara1{
        margin: auto;
    }

    .footpara2{
        margin: 20xp auto;
    }

    .sec1btn{
        margin: 20px auto;
    }

    .sec1part1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .radcont{
        margin-top: 40px;
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .human{
        max-width: 470px;
    }

    .sec4{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .sec4div{
        width: 90%;
        position: relative;
        flex-shrink: 3;
        display: flex;
        flex-direction: column;
    }

    .sec4btn{
        margin: 10px auto 20px auto;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
    .footpara1 , .footpara2{
        text-align: center;
        /* margin: 80px auto; */
        /* position: absolute;
        left: auto;
        right: auto; */
    }

    .footp{
        margin-top: -20px;
    }
}
